<!DOCTYPE html>
<link href="~/Content/Common.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>

<body>
    <hgroup>

        <h2>An error occurred while processing your request due to @ViewBag.errorMsg</h2><br/>
        
         @Html.ActionLink("Cancel", "Index")
       
    </hgroup>
</body>
</html>
